/* It is recommended to place all your extra/additional CSS rules here */
.contact-details {
	padding-right: 100px;
}

.btn-xlarge {
    padding: 38px 52px;
    font-size: 30px;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    }

 .signup {
 	padding: 80px 150px 0px 0px;
 }
